body {
margin: 0%;
font-family: sans-serif;
}
#nav{
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 4%;
text-align: center;
padding-top: 1%;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#nav li{
	list-style-type: none;
	display: inline-block;
}
#nav a{
font-size: 100%;
padding-left: 1%;
padding-right: 1%;
color: white;
text-decoration: none;
}
#nav a:hover{
	color: orange;
}
#Roy{
	height: 400%;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 22%;
	padding-bottom: 22%;
	font-size: 400%;
}
#Roy h1{
	border-style: solid;
	border-color: white;
	display: inline-block;
	font-family: sans-serif;
	padding: 1% 1% 1% 1%;
}
#page1{
	color: black;
	height: 200%;
}
#page1 h2{
	text-align: center;
}
#page1 p{
	margin-left: 35%;
}
.infomij img{
	float: left;
	margin-left: 4%;
	margin-right: 2%;
	margin-top: 4%;
	border: 1% solid white;
	height: 300px;
}

#page2{
	height: 1000%;
	background-color: #87101C;
}
#page2 h2{
	text-align: center;
	padding-top: 10px;
	color: white;
}
#page2 img{
	width: 40%;
	padding-left: 30%;
	padding-bottom: 0.3%;
}
#page2 p{
	width: 40%;
	padding-left: 30%;
	color: white;
	padding-bottom: 2%;
}
#page3{
	height: 200%;
	background-color: white;
}
#page3 h2{
	text-align: center;
	padding-top: 0.5%;
}
#page3 p{
	text-align: center;
}
#page3 a{
	text-decoration: none;
	color: black;
}
#page3 a:hover{
	color: orange;
}
#page4{
	height: 150%;
	background-color: #282B32;
	color: white;
	margin-bottom: -1.5%;
}
#page4 h2{
	text-align: center;
	padding-top: 1%;
}
#page4 p{
	text-align: center;
	padding-bottom: 1%;
}
#project{
	text-align: center;
	color: white;
	background-color: #282B32;
	margin-top: -2%;
	width: 100%;
	height: 150%;
}
#project a{
	text-decoration: none;
	color: white;
}
#project a:hover{
	color: orange;
}
footer{
	text-align: center;
	background-color: black;
	color: white;
}
footer p{
	padding-bottom: 0.3%;
	padding-top: 0.3%;
	margin-bottom: -1%;
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	color: orange;
}